body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}


header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
}

header .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

header .logo a {
    color: #fff;
    font-size: 1.8rem;
    text-decoration: none;
    font-weight: bold;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header nav ul li {
    margin: 0 1rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #ff7e5f; /* Change color on hover */
}


/* Simple Animations */
h1 {
    font-family: Arial, sans-serif;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6rem;
    font-weight: bold;
    background: linear-gradient(90deg, #ff7e5f, #feb47b, #86a8e7, #91eae4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientFlow 5s infinite;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Animation to make the gradient move */
@keyframes gradientFlow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
p{
 position: absolute;
 top: 70%;
 left: 50%;
 transform: translate(-50%, -50%);
 font-size: 2rem;
 font-weight: bold;
 animation: fadeIn 2s ease-in-out;
}
 /*test 2

*/

.section {
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    opacity: 0;
    transition: opacity 1.5s ease-out;
}

.section.active {
    opacity: 1;
}

.section .content {
    max-width: 600px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.section h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #ff7e5f, #feb47b, #86a8e7, #91eae4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section p {
    font-size: 1.5rem;
    line-height: 1.6;
}

.ai-image {
    margin-top: 20px;
    width: 80%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    opacity: 0;
    transition: opacity 1.5s ease-out;
}

.section.active .ai-image {
    opacity: 1;
}

/* Different background images or colors for each section */
#section1 {
    background: url('') no-repeat center center/cover;
}

#section2 {
    background: url('img/background2.jpg') no-repeat center center/cover;
}

/* Additional sections can have their own styles */
